[2021-10-30 11:33] jinfagang opened #1 "does yolov5 training augmentation same as original?"
Hi, just wonder if benchmark result is trained by EOD, does augmentation strictly aligned with yolov5 original repo?

[2021-10-31 06:19] yqyao commented on #1
almost the same

[2021-11-01 08:12] jinfagang opened #2 "EOD/eod/models/heads/utils/bbox_helper.py", line 341, in clip_bbox dw, dh = img_size[6], img_size[7] IndexError: list index out of range"
I found in Inferece.py the prepare are:

[code]

which `image_info` max size is 7, so that above index [7] is out of indices. How to resolve?

[2021-11-01 08:33] jinfagang opened #3 "[feature] Add an demo to **simply** load pth and an image and get visualize result"

[2021-11-01 08:44] jinfagang commented on #3
Try to add this demo:

[code]

BUt reulst is wrong, dont' know why

I found your implementation is GOOD but very deeply packaged, it would be better to provide a DEMO file to visualize on single image.

[2021-11-01 08:45] yqyao commented on #2
https://github.com/ModelTC/EOD/blob/a45b74430070d82d9248a10fb5e1116bb7ababe1/eod/data/datasets/coco_dataset.py#L297.  This is a bug for yolov5 (center pad) inference, we will fix it later

[2021-11-01 08:45] #1 closed

[2021-11-01 08:49] yqyao commented on #3
Thanks for your advice， we will fix it later. @jinfagang

[2021-11-01 09:43] Stephenfang51 opened #4 "Any way to load original yolov5 series model ?"
Hi,

Just wonder if we can load original custom pretrained yolov5(s~x) model using your work?

or any way? if so, I suggest updating an easy example.

Thanks your great work !

[2021-11-02 02:24] Joker-co commented on #3
Hi, We found a little bug in your debug.py, as follows:
`data.image_info = [
            1,
            new_image_h,
            new_image_w,
            scale_factor,
            image_h,
            image_w,
            data.flipped,
            filename,
        ]`
the image_info should organized by following mode:
`data.image_info = [
            new_image_h,
            new_image_w,

[2021-11-02 02:25] Joker-co commented on #3
@jinfagang

[2021-11-02 02:33] Joker-co commented on #4
Hi, thanks for your attention.
Original yolov5 models can't be loaded directly now.
If you want to load, you must rename parameters in yolov5 model.
We will consider adding yolov5 head in the future.

[2021-11-02 03:02] jinfagang commented on #3
@Joker-co No, you will get index out of range error if you don't make the lenght be 8

[2021-11-03 06:04] Joker-co commented on #2
@jinfagang The bug has been fixed.

[2021-11-03 06:11] jinfagang commented on #2
@Joker-co can we have a demo.py sinply read a image as input and show result? Don't involve with any dataloader so that it can easily use and quickly vis final result.

[2021-11-03 06:23] yqyao commented on #2
We think the demo now seems to be able to meet the demand. Config is necessary in order to parse the test configuration, and we don't build dataloader. @jinfagang

[2021-11-03 06:45] jinfagang commented on #2
@yqyao something like this could be better, whole code easy to modification rather than deeply wrapped inside EOD package.

And this demo give wrong result:

https://github.com/ModelTC/EOD/issues/3#issuecomment-956043047

[2021-11-03 07:11] Joker-co commented on #3
`img_info = image_info[b_ix]
 unpad_image_h, unpad_image_w = img_info[:2]
 scale_h, scale_w = _pair(img_info[2])
 keep_ix = np.where(bboxes[:, 0] == b_ix)[0]`
Are scale_h and scale_w normal?

[2021-11-03 10:53] jinfagang commented on #3
@Joker-co the inference.py way is good, using this way to inference:

[code]
there is no problem.

But this logic is not good:

[code]
It always inference all images, and then visualize or save, but

question, we want image one by one.

And it doesn't support video

[2021-11-03 11:26] Joker-co commented on #3
I think you want to inference only one image, not all images in folder?
This question, you can -i with only one image path.

'this logic is not good.' means wrong det bboxes or wrong confidence?
Could you provide more detailed error information？

[2021-11-03 11:27] Joker-co commented on #3
@jinfagang

[2021-11-04 02:15] jinfagang commented on #3
@Joker-co Hi, currently, with images_folder mode, it will inference all images, then start visualize all images and all result right?

this is not good, since we want inference one image, and visualize it, then next one.

Otherwise, it really annoying if I want just visualize some images from coco val folder,  I have to inference all of them to see the vis result.

**it doesn't make any sense**

[2021-11-04 07:45] feixiang7701 opened #5 "How to use quant_runner"
Thank you for the excellent work of MQBench and EOD. I am interested in the work of quantization and I have tried the config of retinanet-r50_1x_quant.yaml. However, there are some errors. Besides, I found that there is no quantitative document in this project. Can you give some suggestions to use the quant_runner.

Here are the errors I encountered when use retinanet-r50_1x_quant.yaml：

### error

[2021-11-04 08:13] yqyao commented on #5
Can you provide the version of MQbench? @feixiang7701 . And maybe you can try the latest MQbench.

[2021-11-04 08:21] feixiang7701 commented on #5
The version of MQBench is v0.0.2. And as you say MqBench support dist train, so maybe it's an error in the config file?

[2021-11-04 08:43] yqyao commented on #5
Mqbench just updated the code, you can try it. @feixiang7701

[2021-11-04 11:20] feixiang7701 commented on #5
Yes, updating mqbench to v0.03 solves my problem.Thank you.

[2021-11-10 09:50] feixiang7701 commented on #5
@Joker-co @yqyao  I have tried the quant_runner, but the yolox_nano model quantization result is far away from the  benchmark supported. In addition, though loading ckpt from float model the Initial loss of quant model is far greater than than the last loss of float model. Can you give some suggestions, or do you have any plan to publish documents for quantitative training?

[2021-11-10 10:16] Tracin commented on #5
Which backend type did you chose?
Try eval the model after quant model initialized. Should have similar loss with FP model.

[2021-11-10 10:35] feixiang7701 commented on #5
@Tracin I use configs/yolox/yolox_nano.yaml and introduced quant parameters like configs/retinanet/retinanet_r50_1x_quant.yaml.

[2021-11-11 01:26] feixiang7701 commented on #5
@Joker-co In testing the quant_runner, I fixed some bugs and submitted a merge request.

[2022-01-10 13:57] qdd1234 opened #8 "Code about the EFL"
Hi, thanks for your wonderful work. I want to know how to find the code about EFL. I only find the base loss definition.

[2022-01-10 14:08] #8 closed

[2022-01-11 04:53] qdd1234 opened #9 "Questions about EFL"
作者您好，感谢您精彩的工作。我对于下图展示的EFL的公式有一个疑惑希望您能帮我解答一下：
（1）您提及到对于class imbalance严重的类，gamma值应该要很大，但是同样会带来这一类对于最终loss contributions变少，所以您又加上一个weight factor，但是我在复现您代码的时候有个问题，就是您是分别计算每一类的损失然后求和，那您再计算某一类loss的时候，其他类的gamma值是怎么确定的？直接赋值为0吗？因为在您代码中您是直接乘上一个计算得到的gamma(第二个图)，但是这样对于某一类而言，只是class imbalance类的gamma值非常小但是background类的gamma值却有时比较大，您可以再细化一下这个公式的解释吗，谢谢！
![image](https://user-images.githubusercontent.com/68497831/

[2022-01-11 06:23] waveboo commented on #9
Hi @qdd1234 , thanks for your question.
For the loss function, EFL is generated from the Sigmoid Focal Loss. If there are C foreground categories, there will be C classifiers and each classifier is responsible for a specific category, i.e. a binary classification task.
For the param `dy_gamma` in fig2, we calculate the values for all categories at once (it is a C-dim vector in our code).
Actually,

[2022-01-18 15:14] Monoclinic opened #10 "想请教一下在LVIS上不使用RFS大概能到什么水平？"
看了您这边用了RFS的 APr很高…能有十几，而且和APc和APf差的不多。
我这边用YOLOX直接训LVIS，用LVIS0.5的时候甚至只有百分之1不到的mAP…我不知道是不是自己写错了…

[2022-01-18 15:15] Monoclinic commented on #10
啊…是指APr只有零点几，整体大概10+的样子，还是比您这边低很多。

[2022-01-19 02:27] waveboo commented on #10
Hi, thanks for your question.
I have no idea about the performance of YOLOX on the **lvisv0.5** benchmark because I haven't conducted experiments on it.
But directly applying the YOLOX series to the long-tailed situation may be inappropriate.
As claimed in [EFL](https://arxiv.org/abs/2201.02593), the YOLOX combined with our improved settings (YOLOX* series) will perform better.
For instance, the p

[2022-01-19 03:03] yqyao commented on #9
This issue is closed due to not being active. Please feel free to open it again @qdd1234.

[2022-01-19 03:03] #9 closed

[2022-01-19 05:26] Monoclinic commented on #10
感谢答疑。看了下您的论文，原版YOLOX+RFS+无QFL确实APr非常低，跟我这边的结果差不太多…
然后关于您刚才的这个回复，您论文中table 8写了 YOLOX*+RFS+Focal loss的情况下只有25.0的mAP，为什么这里不加Focal反而有26.9了……

[2022-01-19 05:43] waveboo commented on #10
@Monoclinic,
Hi, the 25.0% mAP result in the table8 is trained by YOLOX-M*+RFS+FocalLoss
And the 26.9% AP result above is trained by YOLOX-M*+QualityFocalLoss (without RFS)
If the YOLOX-M*+QualityFocalLoss training with RFS, the performance will be further improved to 28.9% AP (presented in the table8 in the paper).
More details about the experimental settings in table 8 are shown in appendix A (

[2022-01-21 07:02] baoxin1100 opened #11 "请问如何在分类任务中使用efl loss"
想在分类任务中使用efl loss，不清楚如何使用

[2022-01-21 11:40] waveboo commented on #11
Hi @baoxin1100, thanks for your question.

EFL is generated from the Focal Loss. It is a sigmoid-like loss, which could theoretically be directly applied to classification tasks in a sigmoid-like way. Hence feel free to adopt the EFL to your task.
But we do not conduct any experiments on the classification tasks. For better performance, here are some tips for you when applying the EFL to the class

[2022-01-24 02:20] yqyao commented on #10
This issue is closed due to not being active. Please feel free to open it again @Monoclinic

[2022-01-24 02:20] #10 closed

[2022-01-25 02:18] sunmooncode opened #12 "Can i change my custom data(coco format) to LVIS ?"
I want to train my custom data with "EFL" or "EQFL"!
Can I directly train **yolox** model with **EFL** using coco data format？

[2022-01-25 06:36] yqyao commented on #12
yes @sunmooncode

[2022-02-09 08:11] baoxin1100 commented on #11
thanks for your answer！

[2022-02-09 08:11] #11 closed

[2022-03-04 14:13] myt889 opened #13 "How to use the EFL loss for multi-label classification? i.e, BCE loss"
Hi, thanks for your wonderful work. I want to know how to fuse the EFL loss with the BCE loss for  multi-label classification tasks. Can you give me some suggestions?

Thanks a lot.

Best Regards!
Tan

[2022-03-04 14:26] HqWei commented on #8
Have you find the code?

[2022-03-07 06:58] waveboo commented on #13
Hi @myt889 , thanks for your question.
Both the BCE loss and the EFL are the sigmoid-like loss. And you could refer to this [issue](https://github.com/ModelTC/EOD/issues/11) for some suggestions. Actually, tip 2 is of very importance.
Any questions please feel free to ask here.

[2022-03-29 14:06] xc-chengdu commented on #11
你好，我也想这么做，可以加个联系方式交流一下吗？qq:2730006372

[2022-03-31 14:22] leo-hao opened #14 "how to use efl loss in segmentation semantic?"
Your work is great. I ' m very interested in it.
when i use efl loss replace cross_entropy loss in segmentation semantic, the datasets is cityscapes.
The following problems arose
![image](https://user-images.githubusercontent.com/20486586/161076735-85d589e3-d9a7-4fe1-9df2-aa06ab2e6e6d.png)

Looking forward to your reply！

[2022-04-07 03:25] yan-ctrl opened #15 "How to apply EFL to YoloV5."
Could you give me some advice on how to apply EFL to YoloV5

[2022-04-14 12:50] Never-Walk-Away opened #16 "about the background categories and Instances and Tasks"
Hello, thank you very much for your work. In EQL, the cross entropy loss is used in the calculation of background categories. In eqlv2, how to deal with the background category.
and
How to try to understand this sentence ：“one task with positive label and C−1 tasks with negative labels are introduced by a single instance.”
look forward to your reply ！

[2022-04-14 12:55] #16 closed

[2022-04-18 04:33] lina926 opened #17 "EFL"
Where is the code of EFL

[2022-04-18 06:35] lina926 commented on #8
where is the code?

[2022-04-25 07:29] Dream-High commented on #17
I have the same question. And I also have a question about how to extend the EFL to other models.

[2022-04-27 03:19] Dream-High commented on #11
你实现了在分类任务中应用EFL吗？可以请教一下吗

[2022-05-04 10:03] xiaohe6 commented on #17
Hi, may I take the liberty to ask, have you found the EFL code?

[2022-05-04 10:24] xc-chengdu opened #18 "How to use this loss for other algorithms？"
Hello, can this loss function be migrated to other algorithms (e.g. s2anet)? If so, can you give some advice?

[2022-05-05 06:42] yqyao commented on #17
Here https://github.com/ModelTC/EOD/tree/main/eod/tasks/det/plugins/efl @lina926 @xiaohe6

[2022-05-05 07:08] xiaohe6 commented on #17
ok, thanks a lot

[2022-05-05 07:17] xiaohe6 commented on #17
Hi, I would like to take the liberty to ask you again, have you tried running this code? I don't know where to start running

[2022-05-05 08:04] yqyao commented on #17
https://github.com/ModelTC/EOD/blob/main/eod/commands/train.py，you can just follow the readme.

[2022-05-05 08:09] xiaohe6 commented on #17
ok，thanks， I will try it again

[2022-05-19 03:10] xc-chengdu opened #19 "Questions about EFL code implementation"
Hello, can you answer the mechanism of action of the gradient collection function? Although the gradient gathering function is defined in the forward propagation function, it does not seem to call this function. Even if self.pos_neg.detach() is used, what is the input parameter in the collect_grad() function? Does it really work?

![image](https://user-images.githubusercontent.com/72692177/1691964

[2022-05-19 03:12] EthanChen1234 opened #20 "EFL, testing with pretrained models(YOLOX-M*) got AP 0"
hi, I'm testing the pretrained models of EFL.

1) Improved Baseline Series
![image](https://user-images.githubusercontent.com/45474996/169195090-1dcce25d-96ec-47bd-9bec-1fbe24ecccb3.png)
the results is ok.

2) YOLOX* Series
![image](https://user-images.githubusercontent.com/45474996/169195279-8ff1b5a6-bb66-4bc4-9288-3023299b3efd.png)
the ap_iou 0.5 is 0.
<img width="718" alt="image" src="https://u

[2022-05-19 09:25] waveboo commented on #19
Hi @xc-chengdu , we collect the gradients in a backward-hook way. The code could be found here: [code](https://github.com/ModelTC/EOD/blob/main/eod/tasks/det/plugins/efl/utils/hook_helper.py#L25). The pos_neg, pos_grad, and neg_grad are all buffers which are used to save the collected gradients. Please feel free to ask any questions about this, thanks.

[2022-05-19 09:25] waveboo commented on #20
Hi @EthanChen1234 , thanks for you point out these bugs.

[2022-05-19 09:39] waveboo commented on #20
Hi @EthanChen1234 , thanks for you pointing out the problems.

For the first question about the evaluation of the YOLOX* series. It is a logical problem of the 'pretrain_model' configs. You could **use 'resume_model: you_file_path.pth' as an alternative**. Or you can just **remove the 'ema' configs** in the yaml file if you do not need them.

For the second question, it is a bug about the version

[2022-05-19 11:54] #18 closed

[2022-05-19 12:15] xc-chengdu commented on #19
@waveboo Thank you very much for your reply. My intention is to use your improved Equalized focal loss, but I find it impossible to determine the input passed by the gradient collection function. For example, which input parameter is represented by grad_out[0]? Is it possible to call the gradient collection function in the forward in the same way as eqlv2 implementation? When I use EFL directly, i

[2022-05-19 12:20] xc-chengdu commented on #19
I just wanted to apply their improved loss function to my own task, so I did not reproduce their results.

[2022-05-19 12:34] waveboo commented on #19
@xc-chengdu ,
1. About the usage of the gradient collection hook, you could refer to this [link](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.register_backward_hook). Actually, we register a backward hook on the last layer of the classification subnet (before cls loss_fn). Thus the gradient of the module output(grad_out[0]) is just the gradient from the loss funct

[2022-05-19 12:58] #20 closed

[2022-05-23 13:24] xc-chengdu commented on #19
# 梯度张量拼接
            grad = torch.cat(self.grad_buffer[::-1], dim=1).reshape(-1, self.num_classes)
每个fpn层输出的维度是不一致的，其shape分别为[32768,37],[8192,37],[2048,37],[512,37],[128,37]；执行上面这句代码会因为维度不一致而无法合并；那么你们的工作是如何保证每一个特征层输出的维度一致呢？以下是我按照eqlv2的方式实现的手动搜集梯度：
![image](https://user-images.githubusercontent.com/72692177/169829072-87872abb-b6d7-44d1-b22f-914d3e77e7d7.png)

[2022-05-23 13:42] waveboo commented on #19
@xc-chengdu , We collect the gradients of each subnet with the grad_buffer. And when the buffer get five subnets gradients, we concat them. When we save the gradient into buffer, we reshape the gradient to (batchsize, -1, num_classes). Thus we could concat them in the dim-1. Your tensor shape is 2-dims, which could not concat at the dim-1.

And one thing you should notice is that **you should not

[2022-05-23 13:46] waveboo commented on #19
@xc-chengdu Meanwhile, we highly recommend you use the gradient collection hook because it is simple and easy, and less error-prone.

[2022-05-26 11:22] wm901115nwpu opened #21 "new version"
When will release new version with segmentation and distillation application?

[2022-05-30 11:05] #3 closed

[2022-05-30 11:05] #4 closed

[2022-05-30 11:05] #5 closed

[2022-05-30 11:05] #12 closed

[2022-05-30 11:05] #19 closed

[2022-05-31 08:39] yqyao commented on #21
Code has been released @wm901115nwpu

[2022-05-31 08:39] #21 closed

[2022-06-09 03:12] Bio-shine commented on #17
have anyone found the code of EFL?

[2022-06-12 14:58] lina926 commented on #17
404 can not open

[2022-06-13 01:56] yqyao commented on #17
https://github.com/ModelTC/United-Perception/blob/main/up/tasks/det/plugins/efl/models/losses/efl.py @lina926

[2022-06-20 12:48] Icecream-blue-sky opened #22 "Why is the APf worse than baseline?"

[2022-06-22 11:16] meituan-gengyifei opened #23 "怎么在yolox上应用efl呀？"
您好 看您的实验结果有在yolox上应用efl/eqfl的结果？请问有开源的代码么？

[2022-06-24 02:09] Huangszz commented on #23
你好，请问你实现了么

[2022-06-24 05:29] yqyao commented on #23
https://github.com/ModelTC/United-Perception/blob/main/configs/det/efl/efl_yolox_small.yaml. @Huangszz @meituan-gengyifei

[2022-06-27 12:26] huanmx commented on #23
你好，请问下如果不想使用该仓库的框架，如何在原始的YOLOX代码中使用EFL？

[2022-06-29 07:37] meituan-gengyifei commented on #23
@yqyao hi, we are interested in your work, and you are welcome to add efl/eqfl work to our yolov6 for even greater gains https://github.com/meituan/YOLOv6
Recently, we will reproduce according to your open source code. If possible, would you please provide the specific indicators of efl/eqfl on yolox? If it is convenient, you can add my email address 835781085@qq.com, we can try together to make t

[2022-06-30 09:05] EthanChen1234 opened #24 "from .._C import xxx, error"
hi, i'm got the error 'ImportError: cannot import name 'naive_nms' from 'up.extensions.csrc' (unknown location)'

![e2a77bc3246af8301ca528b4df54a23c](https://user-images.githubusercontent.com/45474996/176637489-f8c1965f-0da9-4a9f-a212-b408d841510d.png)

for the naive_nms, it's not in csrc? where it is?

[2022-07-01 01:07] yqyao commented on #24
https://github.com/ModelTC/United-Perception/blob/main/up/extensions/csrc/pybind.cpp#L57 @EthanChen1234

[2022-07-01 03:02] Huangszz commented on #23
我最近也有这个需求，可以加个联系方式讨论下吗？

[2022-07-01 03:13] #24 closed

[2022-07-01 09:02] Huangszz opened #25 "no module named 'petrel_client' and ImportError:cannot import name 'DEPLOY_REGISTRY'"
Hi,
    no module named 'petrel_client'
    ImportError:cannot import name 'DEPLOY_REGISTRY'

Can  you tell me how to improve this problem?

[2022-07-02 14:36] Icecream-blue-sky opened #26 "Is sigmoid classifier suitable for multi-classification(num of categories > 1000 in LVIS) problems？"
Since you are based on the sigmoid classifier, I am curious if your detection results on LVIS will have many false positives in the same location but with different categories. The reason why I ask this is that, I used to train one-stage detector on datasets similar with LVIS (which is long tailed logo dataset, with 352 categories), however, I get many FP with different categories at the same loca

[2022-07-04 08:05] Huangszz commented on #25
Hi,
no module named 'petrel_client'
ImportError:cannot import name 'DEPLOY_REGISTRY'

Can you tell me how to improve this problem?

[2022-07-04 08:16] yqyao commented on #25
Sorry for the late reply， we have fixed this bug by https://github.com/ModelTC/United-Perception/commit/bf242b80467f3abd337e02c9a0fd9c68e1644735 . @Huangszz

[2022-07-04 09:17] Huangszz commented on #25
Thank you for your kind reply. And can you tell me how should I get start of the EFL with yolox_medium?
  I have download the weight for yolox_medium, I use the command as follows:
    ./easy_setup.sh
    ./scripts/dist_dist.sh 2 configs/det/efl/efl_yolox_medium.yaml
  Is this right?  But then I got error as follows:
   1. ModuleNotFoundError:No module named 'up.extensions._C'
   2. ./scripts/dist

[2022-07-05 01:31] yqyao commented on #25
[maybe you need ](https://eod.readthedocs.io/en/latest/Chinese/installation/index.html), question1 is compilation error。

[2022-07-05 03:19] waveboo commented on #26
Hi @Icecream-blue-sky , thanks for your good question~
Actually, the false positive problem is not specific to the sigmoid loss. Since the NMS in the modern detection framework is class-related, objects of different categories at the same location will not suppress each other. This problem is also in the softmax loss, although there is strong competition between different categories in the loss de

[2022-07-05 08:34] Huangszz commented on #25
I have tried many times according to the [document](https://eod.readthedocs.io/en/latest/Chinese/installation/index.html), but it still doesn't work. Could you give me a detailed readme for EFL experiment?

[2022-07-05 08:35] Huangszz commented on #25
I have tried many times according to the [document](https://eod.readthedocs.io/en/latest/Chinese/installation/index.html), but it still doesn't work. Could you give me a detailed readme for EFL experiment?

[2022-07-05 13:14] Icecream-blue-sky commented on #26
Thanks for your kind advice! Now I think part of the reason is the imbalance of training data(long tailed) in each category, which makes it difficult for rare classifiers to classify accurately. Maybe adding EFL loss would help, what do you think?

[2022-07-07 04:11] EthanChen1234 commented on #23
+1，在别的框架上使用EFL、EQFL，效果不理想。
可以一起讨论下么，hchenecust@163.com

[2022-07-07 11:21] EthanChen1234 opened #27 "EFL 迁移到mmdetection精度低"
hi，你好！

EFL在迁到mmdetection中，私有化数据集，仅将原生的FocalLoss修改为EqualizedFocalLoss，mAP 0.032 比原生 mAP 0.425低很多。
在迁移过程中，有些疑问：

1、模型差异，包括：
UP中的retinanet模型，有RFS、iou_branch_loss、采用hand_craft生成anchor、atss正负样本分配。
mmdet中，bbox回归采用L1 Loss、每个位置生成9个anchor、maxIouAssigner正负样本分配。

2、正负样本梯度比观察
self.pos_neg = torch.clamp(self.pos_grad / (self.neg_grad + 1e-10), min=0, max=1)
print(self.pos_neg)
<img width="639" alt="image" src

[2022-07-08 02:28] waveboo commented on #27
Hi @EthanChen1234 ,
**We have demonstrated the generalizability of EFL in our paper. it could work well with RetinaNet even without the ATSS strategy.**

Actually, the unbearably low performance (3.2 mAP) of your code on mmdet may come from some missing details  during the code migration process. **So I highly recommend you to check the gradient collection function. If you use the hook mechanism t

[2022-07-08 03:41] EthanChen1234 commented on #27
@waveboo 感谢你的快速回复！！！

1、梯度收集hook
梯度收集位置： (retina_cls): Conv2d(256, 369, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
附件中列出了bbox_head的模型结构、梯度收集hook的实现采用UP中实现方式
[gradient_collector_hook.py.zip](https://github.com/ModelTC/United-Perception/files/9068629/gradient_collector_hook.py.zip)

2、EFL实现（梯度收集实现）
参考原生efl实现，接口、参数适配。
[efl.py.zip](https://github.com/ModelTC/United-Perception/files/9068713/efl

[2022-07-08 04:18] waveboo commented on #27
Hi @EthanChen1234, I check your hook position, and it seems true.
However, the final gradients of categories under normal conditions must have some close to 1 (for frequent class). Thus I guess is there any problem when pos/neg_grad matches with the gt target. But now I can't help you debug because you use your own code and dataset. So I suggest you do these two things either:
1. Using your mmdet

[2022-07-08 08:10] waveboo commented on #27
Hi @EthanChen1234 , I have check your training log. The positive gradient is truly greater than negative gradient at most times. It identifies that EFL is equivalent to FL. Your experiment demonstrate two things:
1. Your mmdet implementation has some problems about the gradient collection mechanism which you need to carefully check.
2. The training status of your dataset (with RFS) is relatively b

[2022-07-08 08:19] EthanChen1234 commented on #27
@waveboo
这是EOD上训练的日志。
[train.log.zip](https://github.com/ModelTC/United-Perception/files/9069771/train.log.zip)
里面的self.pos_neg 一直为1

这是mmdet的训练日志。
[log.tar.gz](https://github.com/ModelTC/United-Perception/files/9068754/log.tar.gz)
里面的self.pos_neg 训练过程中一直远小于1

[2022-07-08 08:29] waveboo commented on #27
The UP result is more credible because it is from the original code base. If your mmdet code has no bugs, it should got a similar result with UP (need to using the same detectors and RFS), because the precision of UP should be little difference with the mmdet.

[2022-07-11 11:13] BrotherHappy opened #28 "spring.submit: not found"
when i use the script, i says "spring.submit: not found", how to solve it?

[2022-07-12 01:23] yqyao commented on #28
maybe you need this, https://github.com/ModelTC/United-Perception/blob/main/scripts/dist_train.sh @BrotherHappy

[2022-07-12 05:14] BrotherHappy commented on #28
Thanks,I'll try it.

[2022-07-13 01:38] #25 closed

[2022-07-13 01:38] #28 closed

[2022-07-13 08:57] hawkqiang commented on #23
你好，你这边在mqbench下使用int8做QAT生成onnx转trt成功了嘛

[2022-07-14 10:32] wangshankun opened #29 "quant_ptq is not supported"
[code]

[2022-07-14 12:18] xingyueye opened #30 "Quant support to yolov6"
hi~, Could you release a support demo for yolov6.  https://github.com/meituan/YOLOv6

[2022-07-15 01:21] FL77N commented on #27
我之前也在 mmdet 上用过 efl，我记得里面的 self.pos_neg 也基本是为 1 的

[2022-07-15 01:21] FL77N commented on #27
我之前也在 mmdet 上用过 efl，我记得里面的 self.pos_neg 也基本是为 1 的

[2022-07-15 01:56] wangshankun opened #31 "configs 官方例子中能提供resume_path对应的模型吗？"
configs/quant/det/faster_rcnn/faster_rcnn_r18_FPN_2x_quant_qdrop.yaml 这个例子里面的resume_path这个半截的fp32模型哪里获取？

![image](https://user-images.githubusercontent.com/3970271/179131270-da51e47f-b1b9-4267-b4ef-dc3858aed3cb.png)

[2022-07-15 07:20] yqyao commented on #29
Sorry for this bug, the config is not updated, you can replace quant_ptq with quant. @wangshankun

[2022-07-18 01:44] EthanChen1234 commented on #27
@FL77N 您好，我在mmdet上复现还是有些问题，您可以帮我review下么？

[2022-07-21 03:29] wm901115nwpu opened #32 "yolov5 quant"
def permute_preds(self, mlvl_preds):
        permute_mlvl_preds = []
        for loc_pred, cls_pred, obj_pred in mlvl_preds:
            bs, ls, ny, nx = loc_pred.shape
            cs = cls_pred.shape[1]
            loc_pred = loc_pred.view(bs, self.num_anchors_per_level,
                                     ls // self.num_anchors_per_level, ny, nx).permute(0, 1, 3, 4, 2).contiguous()

[2022-07-29 10:33] wangshankun opened #33 "为什么和mmdetection中net构造不完全一样呢？"
configs中net结构和mmdetection中的anchor，header中的构造参数很难对应，mmdetection pretrain模型不能直接对接TC工具吧

[2022-08-01 01:26] yqyao commented on #33
We are different frameworks, so we don't need to follow mmdet settings. @wangshankun

[2022-08-01 07:19] wangshankun opened #34 "运行自带的retinanet配置失败"
[code]
运行指令：时候加上一次evaluate，原始pretrain模型无法运行；
![image](https://user-images.githubusercontent.com/3970271/182093712-049e9250-68c4-4283-8df8-f08c73276dfa.png)

![image](https://user-images.githubusercontent.com/3970271/182093533-a5b48728-46d8-4bea-894b-36c21ec5f2ea.png)

[2022-08-02 01:46] PannenetsF commented on #34
ckpt可能加载的是fp32的，需要加载量化训练完成后的ckpt

[2022-08-02 08:49] #33 closed

[2022-08-05 01:38] wangshankun commented on #34
嗯，这个是量化之前，先评估org fp32模型的

[2022-08-05 01:40] PannenetsF commented on #34
换成base runner

[2022-08-09 06:25] Prot-debug commented on #11
@Dream-High 请问你把EFL用在分类中了吗？我也想请教一下【拒绝套娃，真心求问

[2022-08-16 07:04] wangshankun opened #35 "单机单卡运行失败"
单机train的时候当指令ng=1，不论是train还是test都会遇到同样的error；

当 --ng=1的时候出现Error:“`........please make sure to call init_process_group”

![image](https://user-images.githubusercontent.com/3970271/184817952-3618d4cf-a362-487f-a1e4-f7f9160ff8c6.png)

[2022-08-18 00:59] yqyao commented on #35
For the single device, maybe you don't need allreduce @wangshankun.

[2022-08-18 03:50] wangshankun commented on #35
OK，But how to remove allreduce  when only have one gpu card？

[2022-08-18 05:41] yqyao commented on #35
Just delete this line or note it  when world_size <= 1 @wangshankun

[2022-08-18 07:28] wangshankun opened #36 "perchannel 量化失败"
![image](https://user-images.githubusercontent.com/3970271/185334442-f0ca34e7-a75e-47c6-8e6a-a6509e83a86f.png)

将weight 的perchannel 改成false就可以了；
![image](https://user-images.githubusercontent.com/3970271/185334763-7d7aa027-7df4-4390-8270-2d7c6b63c802.png)

Ps:
    问题是的偶现，代码没改动，时好时坏

[2022-08-19 01:53] #31 closed

[2022-08-22 02:18] Prot-debug opened #37 "怎么在分类任务中修改并使用EFL？"
我看到您在 [issue 11](https://github.com/ModelTC/United-Perception/issues/11) 中回答了在分类任务中如何使用EFL的相关问题，但我对其中的第二点不是十分明白，我应该怎么修改我的梯度指导策略才能更好地应用在分类任务上呢？您能提供一些参考的代码或者给出一些代码上修改的建议吗？谢谢！

[2022-08-22 07:02] #34 closed

[2022-08-31 02:38] Hahahdamowang commented on #27
您好，请问我在mmdet使用了您复现的loss代码。在我训练的过程中出现memory一直增大的现象，指导out of memory，请问如何解决？

[2022-09-07 09:34] wudizuixiaosa commented on #27
hi，你好，请问你解决这个问题了么？

[2022-09-16 03:12] RedHandLM opened #39 "YOLOX QAT成功，精度无下降，但是在deploy to tengine的时候出现多个问题"
基于UP量化YOLOX，QAT训练成功，精度无下降，但是在deploy到tengine的时候出现多个问题，
1：miss key, 缺少量化节点
![971cdb10062985847adad7eaf8c45e1](https://user-images.githubusercontent.com/17703818/190548197-0f137550-8f9a-403f-9613-6c0537268d71.png)

2：fake_quantize_per_tensor_affine() received an invalid combination of arguments
导出onnx时出现参数不对应的情况,以下为报错日志
[deploy_tengine_error.txt](https://github.com/ModelTC/United-Perception/files/958

[2022-09-24 07:50] Azong-HQU opened #40 "项目编译问题"
请问作者，我运行./easy_setup.sh时一直编译失败，一直报一些环境问题，例如：
FAILED: /media/disk1/NEW/UniHead-main/build/temp.linux-x86_64-3.8/media/disk1/NEW/UniHead-main/up/extensions/csrc/iou3d_nms/iou3d_nms_kernel.o

FAILED: /media/disk1/NEW/UniHead-main/build/temp.linux-x86_64-3.8/media/disk1/NEW/UniHead-main/up/extensions/csrc/cross_focal_loss/cross_focal_loss_sigmoid_kernel.o
等等

请问作者有其他方式创建环境吗？

另外，这三个路径都必须要指定好是吗？请问能否只指定

[2022-09-25 06:22] #40 closed

[2022-09-25 11:36] dongnana777 opened #41 "EFL使用直接计算grad的方法"
请问你有没有在deformable-detr上使用过这个loss。 我现在想在deformable-detr上使用你文章中的loss，但是复现的时候遇到了一些问题想请教你，下面是我的复现代码。
我的问题是：1， 我在代码中标注的变量的维度正确吗？
2， 如果正确的话，我在计算focusing factor时遇到了一个错误，错误我写在了代码里面。
3，我想直接计算梯度，我的代码中计算梯度的方式正确吗？
4. 你的代码中的ignore_index是起到了什么作用呢？产生的mask是想去除掉什么呢？

# Import from third library
import torch
import torch.nn.functional as F
# Import from pod
from models.loss import _reduce
from models.entropy_loss i

[2022-09-25 11:37] dongnana777 commented on #41
import torch
import torch.nn.functional as F
from models.loss import _reduce
from models.entropy_loss import GeneralizedCrossEntropyLoss

import torch.distributed as dist
try:
    import spring.linklink as link
except:   # noqa
    link = None

class DistBackend():
    def __init__(self):
        # self.backend = 'linklink'
        self.backend = 'dist'
DIST_BACKEND = DistBackend()

def allreduce(

[2022-09-26 02:29] waveboo commented on #41
Hi @dongnana777 ,
Thanks for your questions.
**For your first question,** your input shape may be incorrect. Suppose we have (n+1) classes (where 1 is for the background). If you want to use a softmax-based loss, the input dim should be n+1, but if you want to use a sigmoid-based loss (e.g., Focal Loss, EFL), the input dim should be n and the one-hot label of the background class is denoted as [0,

[2022-09-26 02:47] dongnana777 commented on #41
你好，deformable-detr 也使用的focal loss, 但是函数的输入维度是n+1 (1203+1)， 背景类的label是[1, 0,...,0, ...,0], 目标类的label是[0, 0,...,1,...0].
其次，因为def-detr是每个输出分别计算loss的，直接计算梯度比较方便。直接计算梯度的方法应该使用focal loss的梯度对吗？如下图我的代码，请问直接计算梯度的部分正确吗？

[2022-09-26 02:48] dongnana777 commented on #41
class EqualizedFocalLoss(GeneralizedCrossEntropyLoss):
      def __init__(self,
                   name='equalized_focal_loss',
                   reduction='mean',
                   loss_weight=1.0,
                   ignore_index=-1,
                   num_classes=1204,
                   focal_gamma=2.0,
                   focal_alpha=0.25,
                   scale_factor=8.0,

[2022-09-26 05:40] waveboo commented on #41
Hi @dongnana777,
1. the official implementation of [deformable-detr](https://github.com/fundamentalvision/Deformable-DETR/blob/main/models/deformable_detr.py#L445) seems only has n classes focal loss. (20 classes for VOC and 91 classes for COCO).
2. I can not understand the second problem "因为def-detr是每个输出分别计算loss的，直接计算梯度比较方便". If your meaning is the aux_loss in deformable_detr, the hook method see

[2022-09-26 05:45] dongnana777 commented on #41
官方的deformable-detr的代码只在coco上实现的，在coco上使用91个classes, 但是coco最大的类是90.

[2022-09-26 05:49] dongnana777 commented on #41
是的，我的意思就是aux_loss的存在可能会造成使用hook比较困难。请问我如果在deformable-detr的代码里使用hook，我应该在什么位置收集梯度呢？

[2022-09-26 05:58] waveboo commented on #41
For coco dataset, it has 91 classes. Modern detectors map the 91 categories into 80 classes. Please check it by yourself.
For the gradient hook, you just need to [register_backward_hook](https://pytorch.org/docs/stable/generated/torch.nn.modules.module.register_module_backward_hook.html) on the class_embed layer in [deformable detr](https://github.com/fundamentalvision/Deformable-DETR/blob/main/mo

[2022-09-26 06:02] dongnana777 commented on #41
![image](https://user-images.githubusercontent.com/38371604/192204146-23ab13cb-b8aa-4700-b0f3-8141f8aa4ed6.png)
![image](https://user-images.githubusercontent.com/38371604/192204193-4bbb331b-cbcd-428e-8f17-527b561313d1.png)

[2022-09-26 06:17] waveboo commented on #41
@dongnana777
https://github.com/fundamentalvision/Deformable-DETR/issues/152

[2022-09-26 06:20] dongnana777 commented on #41
哇，谢谢你，受教了.
@waveboo

[2022-09-26 06:25] dongnana777 commented on #41
我还有一个问题，我尝试在deformable-detr中使用hook，但是收集梯度的时候会报错，大概是efl中不存在self.cache_target，这是因为什么？
@waveboo

[2022-09-26 06:38] dongnana777 commented on #41
你好，在def-detr上使用lvis数据集，将类别定义为1203，多卡跑程序会报错,请问你遇到这种情况了吗？

[2022-09-26 07:48] RedHandLM commented on #39
替换文件解决, 插入了错误的节点，需要进行过滤
[tengine_u8_quantizer.txt](https://github.com/ModelTC/United-Perception/files/9644058/tengine_u8_quantizer.txt)

[2022-09-26 07:48] #39 closed

[2022-09-26 08:30] #2 closed

[2022-10-08 07:59] yqyao commented on #37
https://github.com/ModelTC/United-Perception/commit/0aed4a2298038fc9ab6b04cb53a83314505db39d。 @Prot-debug

[2022-10-08 08:00] #17 closed

[2022-10-08 08:00] yqyao commented on #14
https://github.com/ModelTC/United-Perception/commit/0aed4a2298038fc9ab6b04cb53a83314505db39d @leo-hao

[2022-10-08 16:20] KaichaoLiang opened #42 "'Conv2d' object has no attribute 'register_full_backward_hook'"
您好，我运行样例的eval或者train都会提示这个错误，这个是和安装时编译有关吗，按说是安装成功了，感谢帮助

Traceback (most recent call last):
  File "/mnt/dolphinfs/hdd_pool/docker/user/hadoop-vacv/kaichaoliang/CondaEnv/UnitedDetection/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/mnt/dolphinfs/hdd_pool/docker/user/hadoop-vacv/kaichaoliang/CondaEnv/UnitedDetection/lib/python3.7/runpy.py", line 85, in

[2022-10-09 01:15] yqyao commented on #42
We can't reproduce your error, maybe you need to check your env? @KaichaoLiang

[2022-10-10 05:18] Prot-debug commented on #37
您好，你发的这个链接，我打开显示拒绝访问，看不到内容。

[2022-10-10 05:47] yqyao commented on #37
https://github.com/ModelTC/United-Perception/commit/0aed4a2298038fc9ab6b04cb53a83314505db39d , this commit @Prot-debug

[2022-10-13 02:17] waveboo commented on #42
@KaichaoLiang Hi, the 'register_full_backward_hook' is a new function in **Pytorch1.8**, you could change your current env to torch1.8. Or if you do not use the equalized focal loss, you could just annotate these codes.

[2022-10-17 02:54] wenjunx opened #45 "关于只有一个类别的目标检测问题"
您好，我自己做的数据集是只有单类别的目标，请问可以用EFL吗？谢谢您。

[2022-10-18 07:59] yqyao commented on #45
Focal loss is enough for a single class @wenjunx

[2022-10-18 08:40] wenjunx commented on #45
@yqyao many thx.

[2022-10-18 09:51] #45 closed

[2022-10-21 06:06] #37 closed

[2022-11-01 02:22] trhao opened #46 "no module named 'petrel_client', no module named 'spring_aux', import error No module named 'mqbench', import error No module named 'msbench.nn', free(): invalid pointer."
Hello,
1、no module named 'petrel_client',；
2、no module named 'spring_aux',；
3、import error No module named 'mqbench'；
4、 import error No module named 'msbench.nn',；
5、free(): invalid pointer.
Can you tell me how to tackle those problem?

[2022-11-14 09:45] Lllllolita opened #47 "单机单卡一直显示oom"
本人使用up框架复现efl遇到如下问题，服务器显卡内存充足，但是一直显示oom，已经检查服务器显卡没有占用显存的僵尸进程，并且设置batch为1仍然显示oom,本人服务器配置如下：
python:3.7
cuda :11.3
torch:1.10.0
gpu:RTX3090
config:configs/det/efl/efl_yolox_medium.yaml
请问可能是什么问题呢

[2022-11-16 01:28] yqyao commented on #47
Maybe we need more error logs to reproduce it @Lllllolita

[2022-11-16 03:57] Lllllolita commented on #47
这是运行python -m up train --config configs/det/efl/efl_yolox_medium_test.yaml --nm 1 --ng 1 --launch pytorch 2>&1 | tee log.train输出的log文件。
[train.log](https://github.com/ModelTC/United-Perception/files/10018001/train.log)

这两个文件是运行./easy_setup.sh输出的log文件。
[compile.log](https://github.com/ModelTC/United-Perception/files/10018004/compile.log)
[compile_err.log](https://github.com/ModelTC/United-Percepti

[2022-11-16 05:23] yqyao commented on #47
the batch_size in your log is 8, maybe you need to recompile and export TORCH_CUDA_ARCH_LIST='3.5;5.0+PTX;6.0;7.0;8.0;8.6'  in easy_setup.sh @Lllllolita

[2022-11-16 08:06] Lllllolita commented on #47
非常感谢您的建议，现在我单机单卡设置batch是4是可以成功运行的，但是运行单机多卡仍然失败了，torch.cuda.aviable()显示的是False。
指令是：python -m up train --config configs/det/efl/efl_yolox_medium_test.yaml --nm 1 --ng 2 --launch pytorch 2>&1 | tee log.train
[train(1).log](https://github.com/ModelTC/United-Perception/files/10019432/train.1.log)

[2022-11-18 02:23] yqyao commented on #47
Maybe you need to check your cuda env ? @Lllllolita

[2022-11-24 03:54] howardgriffin opened #48 "分类任务，关于验证集问题"
在训练分类任务时，如图，我想请教下1处的数据集是哪部分数据，2处的数据集又是哪部分，为什么差别这么大，以哪个为准？

![78676FB3-663F-41D3-BE25-5C6BCA0B25A9](https://user-images.githubusercontent.com/23454942/203689982-12052e55-4970-4475-a74c-5fefa25ebfa0.jpeg)

[2022-11-24 07:50] Never-Walk-Away opened #49 "Use Softmax Equalization Loss to object Recongnition in LVIS dataset"
Hello Author, you're doing a great job. I would like to ask how the Softmax-EQL function proposed in this paper can be used in target detection.

[2022-11-24 08:05] yqyao commented on #48
1  is train accuracy (current batch)
2 is val set accuracy @howardgriffin

[2022-11-24 08:08] yqyao commented on #49
https://arxiv.org/abs/2210.05566,
![image](https://user-images.githubusercontent.com/20680893/203727419-84807603-d434-427d-9937-b4a63b92a33d.png)
@Never-Walk-Away

[2022-11-24 12:04] Never-Walk-Away commented on #49
thanks!

[2022-11-24 12:04] #49 closed, assigned to nobody

[2022-11-25 09:31] ningmengzhihe commented on #46
I encountered the save problem
1、no module named 'petrel_client',；
2、no module named 'spring_aux',；
3、import error No module named 'mqbench'；

[2022-11-27 17:08] TheWangYang opened #50 "(Resolved!!!) No module named 'petrel_client' init petrel failed No module named 'spring_aux' ImportError: cannot import name 'gpu_iou_overlap' from 'up.extensions'."
### The following error occurs when the environment is configured and the following command is executed (the same error occurs on both Windows and Linux platforms) :

[code]
### Why can't the module be imported? What should I do? I hope the kind people can help me solve the problem, I will be grateful!

[2022-11-28 01:17] yqyao commented on #50
1、Maybe you need to compile it or export DEFAULT_TASKS=cls, following this https://github.com/ModelTC/AAAI2023_EAMPD/blob/main/train.md @TheWangYang

[2022-11-28 03:22] TheWangYang commented on #50
According to the solution you mentioned, I have successfully run the training script by referring to the train.md document in the link. Thank you very much! @yqyao

[2022-11-28 07:06] #50 closed, assigned to nobody

[2022-11-28 07:14] yqyao commented on #46
All could be ignored @ningmengzhihe

[2022-11-28 08:07] howardgriffin commented on #48
Thank you for your reply!
But I am confused that why the training accuracy is far lower than the validation accuracy?

[2022-11-28 15:17] ningmengzhihe commented on #46
Thanks very much

[2022-11-28 15:19] ningmengzhihe commented on #46
I have soveled this problem. Ignore those output

[2022-11-29 01:32] #46 closed